.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.website-logo {
  height: 50px;
  width: 250px;
}

.link-items {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.link-items {
  padding-left: 15px;
  margin-right: 15px;
}
